.gitignore
destination/__pycache__/
destination/figures/
destination/geoipdb/
destination/iot-data/
destination/iot-idle/
destination/trafficAnalyzer/__pycache__/
destination/results.csv
encryption/.ipynb_checkpoints/
encryption/validation/synthetic/
encryption/validation/key.key
encryption/sample.csv
encryption/sample.json
model/.ipynb_checkpoints/
model/features/
model/tagged-intermediate/
model/tagged-models/
model/traffic/
model/user-intermediates/
model/results.csv
.DS_Store
